@import '../../../../common/styles/tbg-palette.scss';

.details-section {
  padding: 10px;
  border-bottom: 1px solid $mainBorderColor;

  display: flex;
  flex-direction: column;

  .details-section-title {
    font-weight: bold;
    user-select: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 5px;
  }

  .details-section-content {
    margin-top: 5px;
  }
}
