.website-root {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .website-navbar-area {
    flex: 0 0 50px;
    width: 100%;
  }

  .website-page-area {
    flex: 1 1 100%;
    width: 100%;
  }
}
