@import '../../../common/tbg-palette.scss';

.panel {
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px solid $mainBorderColor;

  display: flex;
  flex-direction: column;

  .panel-tab-list {
    flex: 0 0 30px;
    width: 100%;
    border-bottom: 1px solid $mainBorderColor;

    display: flex;

    .panel-tab {
      flex: 0 0 auto;
      padding: 5px;
      height: 100%;
      border-right: 1px solid $mainBorderColor;
    }
  }

  .panel-body {
    flex: 1 1 100%;
    width: 100%;

    background-color: $mainBackgroundColor;
  }
}
