@import '../../../common/tbg-palette.scss';

.panel-container {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;

  .resize-bar {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 10px;

    &:hover {
      background-color: $mainHoverColor;
    }

    &.vertical {
      height: 100%;
      cursor: ew-resize;
    }
    &.horizontal {
      width: 100%;
      cursor: ns-resize;
    }
  }
}
