@import '../../../common/tbg-palette.scss';

.panel {
  flex-grow: 0;
  flex-shrink: 1;
  border: 1px solid $mainBorderColor;

  display: flex;
  flex-direction: column;

  .panel-navbar {
    flex: 0 0 30px;
    width: 100%;
    padding-right: 3px;
    border-bottom: 1px solid $mainBorderColor;

    display: flex;
    justify-content: space-between;

    .panel-tab-list {
      flex: 0 0 auto;
      height: 100%;

      display: flex;

      .panel-tab {
        user-select: none;
        cursor: grab;
        flex: 0 0 auto;
        padding: 5px;
        height: 100%;
        border-right: 1px solid $mainBorderColor;
      }
    }

    .panel-options {
      flex: 0 0 auto;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .panel-body {
    flex: 1 1 100%;
    width: 100%;
    position: relative;

    background-color: $mainBackgroundColor;

    &.hover-backdrop-full {
      &::after {
        position: absolute;
        content: ' ';
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: black;
        opacity: 0.2;
      }
    }
  }
}
