@import '../../../../common/tbg-palette.scss';

.editable-text-container {
  display: flex;
  align-items: center;
  gap: 5px;

  .editable-text-label {
    font-weight: bold;
  }

  .editable-text-content {
    height: 30px;
    padding: 0px 10px;
    cursor: text;

    display: flex;
    align-items: center;

    &:hover {
      border: 1px solid $mainBorderColor;
      border-radius: 3px;
      padding: 0px 9px;
    }
  }
}
