.hidden-name {
  position: absolute;
  height: 0px;
  overflow: hidden;
  padding: 0;
  margin: 0;
  white-space: pre;
}

.fit-text-input {
  .bp3-input-group {
    input {
      padding-bottom: 1px;
    }
  }
}
