@import '../../../common/styles/tbg-palette.scss';

.page-item-details {
  width: 100%;

  display: flex;
  flex-direction: column;

  .no-items-state {
    user-select: none;
  }

  .transform-content {
    display: flex;
    gap: 20px;

    .section-column {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 5px;
    }
  }

  .item-content {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .text-settings-row {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .link-content {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}
