@import '../../../common/tbg-palette.scss';

.page-item-widget {
  position: absolute;
  padding: 1px;
  cursor: move;
  min-width: 20px;
  min-height: 20px;

  &.selected {
    border: 2px solid blue;
    padding: 0px;
  }

  &.unselected {
    &:hover {
      border: 1px solid $mainBorderColor;
      padding: 0px;
    }
  }

  .page-item-content {
    width: 100%;
    height: 100%;
    position: relative;

    .page-item-text {
      width: 100%;
      height: 100%;
      user-select: none;
      overflow: auto;
    }

    &:hover {
      .resize-handle {
        opacity: 1;
      }
    }

    .resize-handle {
      position: absolute;
      bottom: -5px;
      right: -5px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
      cursor: nw-resize;
      opacity: 0;
      transition: all 0.1s linear;
    }
  }
}
