@import '../../../common/styles/tbg-palette.scss';
@import '../../../common/styles/tbg-variables.scss';

.page-editor {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  .page-editor-toolbar-area {
    flex: 0 0 $editorToolbarHeight;
    width: 100%;
  }

  .page-edit-area {
    flex: 1 1 100%;
    width: 100%;
    padding: 10px;
    background-color: $mainBackgroundColor;

    overflow-y: scroll;

    .page-display {
      width: 100%;
      padding-bottom: 56.25%;
      position: relative;
      background-color: white;
      box-shadow: $mainBoxShadow;

      overflow: hidden;
    }
  }
}
