@import '../../../common/tbg-palette.scss';

.editor-navbar {
  width: 100%;
  height: 100%;
  padding: 5px;

  display: flex;
  align-items: center;

  .story-name-container {
    .story-name {
      height: 30px;
      padding: 0px 10px;
      cursor: pointer;

      display: flex;
      align-items: center;

      &:hover {
        border: 1px solid $mainBorderColor;
        border-radius: 3px;
        padding: 0px 9px;
      }
    }
  }
}
