@import '~@blueprintjs/core/lib/scss/variables';

// Backgrounds
$mainBackgroundColor: $light-gray4;

// Borders
$mainBorderColor: $gray5;
$accentBorderColor: $dark-gray4;
$lightBorderColor: $light-gray3;

$mainHoverColor: $light-gray5;
