@import '../../../common/tbg-palette.scss';

.resize-bar {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 8px;

  &:hover {
    background-color: $mainHoverColor;
  }

  &.vertical {
    height: 100%;
    //border-top: 1px solid $mainBorderColor;
    //border-bottom: 1px solid $mainBorderColor;
    cursor: ew-resize;
  }
  &.horizontal {
    width: 100%;
    //border-left: 1px solid $mainBorderColor;
    //border-right: 1px solid $mainBorderColor;
    cursor: ns-resize;
  }
}
